# Operating System
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*~

# Gradle
.gradle/
.kotlin/
**/build/

# Local config
local.properties

# IDE
.idea/
.vscode/
.fleet/
*.iml

# Logs
*.log
logs/

# Xcode
**/DerivedData/
**/*.xcworkspace/
**/xcuserdata/
